.content {
    width: 870px;
    background: rgba(5,5,5,0.95);
    border-radius: 10px;
    float: left;
    padding: 15px;
    font-size: 35px;
}

.productList .status {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;

    color: #862B6B;
    background: #E1D6D6;
    border: 1px solid black;
    border-radius: 10px;

}


.productList li {
    position: relative;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 195.5px;
    height: 270px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(120,120,150,0.9);
    box-shadow: 5px 5px 15px #3F3D3D;
}

.productList li:hover{
    background: rgba(190,230,250,0.7);


}

.productList li img {
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 18px;
}

.product_name {
    color: #E8E7E7;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.productList li span {
    display: block;
    color: #E8E7E7;
    width: 100%;
    margin-left: 34%;
}
